header {
  font-family: 'Muli', sans-serif;
  font-size: 2rem;
}
.landing-page {
  font-family: 'Muli', sans-serif;
  text-align: center;
}
.button {
  background-color: #040CD4;
  font-size: 1.4rem;
}
.heading {
  position: relative;
  font-size: 6rem;
}
.subheading {
  font-size: 1.4rem;
}
.page-heading {
  position: relative;
  font-size: 3rem;
}
.heading:before, .page-heading:before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 4px;
    transition: all 500ms ease;
    width: 16rem;
    background-color: #040CD4;
}
.login-form {
  text-align: center;
}
.course {
  font-size: 1.6rem;
  text-transform: capitalize;
}
.appDrawer {
  position: absolute;
  right: 1rem;
  top: 2px;
}

#drop-down-item {
  background-color: white;
  color: black;
  font-size: 1.6rem;
}
