header {
  font-family: 'Muli', sans-serif;
  font-size: 2rem;
}
a {
  color: black;
}
a:hover {
  color: darkgray;
  text-decoration: none;
}
.landing-page {
  font-family: 'Muli', sans-serif;
  text-align: center;
}
.button {
  background-color: #040CD4;
  font-size: 1.4rem;
}
.heading {
  position: relative;
  font-size: 6rem;
}
.subheading {
  font-size: 1.4rem;
}
.page-heading {
  position: relative;
  font-size: 3rem;
  text-transform: capitalize;
}
.heading:before, .page-heading:before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 4px;
    transition: all 500ms ease;
    width: 16rem;
    background-color: #040CD4;
}
.login-form {
  text-align: center;
}
.course, .student {
  font-size: 1.6rem;
  text-transform: capitalize;
}
.student {
  text-align: center;
}
.appDrawer {
  position: absolute;
  right: 1rem;
  top: 2px;
}

#drop-down-item {
  background-color: white;
  color: black;
  font-size: 1.6rem;
}
.add-button {
  position: fixed;
  opacity: 0.7;
  width: 4rem;
  height: 4rem;
  right: 1.2rem;
  bottom: 2.5rem;
  border-radius: 50%;
  color: #040CD4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 1px solid #898989;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  z-index: 2;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
}
.modal-background {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 2;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  opacity: 0.8;
  background-color: #C4C4C4;
}
.close-modal {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 2rem;
  opacity: .8;
}
.modal {
  z-index: 3;
  width: 80%;
  height: 50vh;
  border: 2px solid black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 5px 10px #88888865;
  padding: 10px;
   position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-form {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-form > * {
  width: 80%;
}

.edit-btn,.edit-buttons {
  width: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  cursor: pointer;
  transition-duration: 200ms;
}
.edit-btn > * {
  height: 2rem;
  width: 2rem;
}
.edit-btn:hover {
  color: #040CD4;
}
.editCourse {
  width: 100%;
  text-align: center;
}
.course-name {
  width: 80%;
}
.course-body {
  display: flex;
  flex-direction: row;
}
.course-edit-btn {
  width: 50%;
}
.student-buttons {
  text-align: center;
}
